
/* Selectable *********************************************/

.ui-autocomplete .ui-menu-item .highlight {
    display: inline;
    padding: 0;
}

.selectable-deck .selectable-deck-item {
    width: 200px;
    padding: 5px 5px;
}
