{% load staticfiles %}
{% load account %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Plin</title>
  <link rel="stylesheet" href='{% static "css/vendor/foundation.css" %}' />
  <link rel="stylesheet" href='{% static "css/main.css" %}' />
  <script src='{% static "js/vendor/modernizr.js" %}'></script>
</head>
<body>

<div class="row">
  <form>
    <div class="large-4 columns">
      <h1><a href="/"><img src="/static/img/logo.png"></a></h1>
    </div>
    <!--
    <div class="large-6 columns">
      <input type="text" placeholder="Procurar" />
    </div>
    <div class="large-2 columns">
      <a href="#" class="small button">Buscar</a>
    </div>
    -->
  </form>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">
        <div class="large-1 medium-1 columns">
          <a href="/">Início</a>
        </div>
        <div class="large-1 medium-1 columns">
          <a href="#">Sobre</a>
        </div>
        <div class="large-1 medium-1 columns">
          <a href="#">Contato</a>
        </div>
        <div class="large-7 medium-7 columns">
          &nbsp;
        </div>

        {% if user.is_authenticated %}
        <div class="large-1 medium-1 columns">
          {% if user.is_staff %}
          <a href="/admin">Admin</a>
          {% endif %}
        </div>
        <div class="large-1 medium-1 columns">
          <a href="/accounts/logout">Logout</a>
        </div>
        {% else %}
        <div class="large-1 medium-1 columns">
          <a href="/accounts/signup">Register</a>
        </div>
        <div class="large-1 medium-1 columns">
          <a href="/accounts/login">Login</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns">
  {% block content %}{% endblock %}
  </div>
</div>

<script src='{% static "js/vendor/jquery.js" %}'></script>
<script src='{% static "js/vendor/foundation.min.js" %}'></script>
<script type="text/javascript">
  $(document).foundation();
</script>

<script src='{% static "js/vendor/jquery.cookie.js" %}'></script>
<script src='{% static "js/vendor/jquery.json.min.js" %}'></script>
<script src='{% static "js/vendor/jquery.raty.min.js" %}'></script>
<script type="text/javascript">
  $(function() {
    var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
      // test that a given url is a same-origin URL
      // url could be relative or scheme relative or absolute
      var host = document.location.host; // host + port
      var protocol = document.location.protocol;
      var sr_origin = '//' + host;
      var origin = protocol + sr_origin;
      // Allow absolute or scheme relative URLs to same origin
      return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
             (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
             // or any other URL that isn't scheme relative or absolute i.e relative.
             !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
          // Send the token to same-origin, relative URLs only.
          // Send the token only if the method warrants CSRF protection
          // Using the CSRFToken value acquired earlier
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    $.fn.raty.defaults.path = '{% static "img/rating" %}';

    $('.rating').each(function(index, rating_dom) {
      $(rating_dom).raty({
        starOff : 'star-off.png',
        starOn  : 'star-on.png',
        size    : 24,
        {% if read_only %}
        readOnly: true,
        {% endif %}
        score   : function() {
          return $(this).attr('data-rating');
        },
        click   : function(rating, evt) {
          var model_name = $(this).data('model'),
              object_pk = $(this).data('pk');

          $.ajax({
            type: 'POST',
            url: '/bookshelf/rate/' + model_name + '/' + object_pk + '/',
            data: $.toJSON({rating: rating}),
            dataType: 'json'
          });
        }
      });
    });
  });
</script>

</body>
</html>
