{% load staticfiles %}
{% load account %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Plin</title>
  <link rel="stylesheet" href='{% static "css/vendor/foundation.css" %}' />
  <link rel="stylesheet" href='{% static "css/main.css" %}' />
  <script src='{% static "js/vendor/modernizr.js" %}'></script>
</head>
<body>

<div class="row">
  <form>
    <div class="large-4 columns">
      <h1><a href="/"><img src="/static/img/logo.png"></a></h1>
    </div>
    <!--
    <div class="large-6 columns">
      <input type="text" placeholder="Procurar" />
    </div>
    <div class="large-2 columns">
      <a href="#" class="small button">Buscar</a>
    </div>
    -->
  </form>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">
        <div class="large-1 medium-1 columns">
          <a href="/">Início</a>
        </div>
        <div class="large-1 medium-1 columns">
          <a href="#">Sobre</a>
        </div>
        <div class="large-1 medium-1 columns">
          <a href="#">Contato</a>
        </div>
        <div class="large-7 medium-7 columns">
          &nbsp;
        </div>

        {% if user.is_authenticated %}
        <div class="large-1 medium-1 columns">
          {% if user.is_staff %}
          <a href="/admin">Admin</a>
          {% endif %}
        </div>
        <div class="large-1 medium-1 columns">
          <a href="/accounts/logout">Logout</a>
        </div>
        {% else %}
        <div class="large-1 medium-1 columns">
          <a href="/accounts/signup">Register</a>
        </div>
        <div class="large-1 medium-1 columns">
          <a href="/accounts/login">Login</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns">
  {% block content %}{% endblock %}
  </div>
</div>

<script src='{% static "js/vendor/jquery.js" %}'></script>
<script src='{% static "js/vendor/foundation.min.js" %}'></script>
<script>
  $(document).foundation();
</script>

</body>
</html>
