{% extends "index.html" %}

{% block content %}
  <div class="row">
    <div class="large-12 medium-12 columns">
      <h2>{{ book.title }}</h2>
    </div>
  </div>

  <div class="book-details row">
    <div class="large-4 medium-4 columns">
      <div class="cover">
        <img src="{{ book.cover.url }}" />
      </div>
      <div class="rating-row row">
        <div class="rating-label large-2 medium-2 columns">Plin rating:</div>
        <div class="rating-value large-10 medium-10 columns">
          <div class="rating" data-rating="{{ book_rating }}"
                              data-model="book"
                              data-pk="{{ book.pk }}"
                              data-read-only="true"></div>
          <div class="votes">({{ book_nb_votes }} vote{{ book_nb_votes|pluralize }})</div>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <div class="rating-row row">
        <div class="rating-label large-2 medium-2 columns">Your rating:</div>
        <div class="rating-value large-10 medium-10 columns">
          <div class="rating" data-rating="{{ book_user_rating }}"
                              data-model="book"
                              data-pk="{{ book.pk }}"
                              data-read-only="false"></div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="book-description large-8 medium-8 columns">
      <div class="row">
        <div class="book-label large-2 medium-2 columns">Título</div>
        <div class="book-value large-10 medium-10 columns">{{ book.title }}</div>
      </div>
      {% if book.subtitle %}
      <div class="row">
        <div class="book-label large-2 medium-2 columns">Subtítulo</div>
        <div class="book-value large-10 medium-10 columns">{{ book.title }}</div>
      </div>
      {% endif %}
      <div class="row">
        <div class="book-label large-2 medium-2 columns">Idioma</div>
        <div class="book-value large-10 medium-10 columns">{{ book.get_language_display }}</div>
      </div>
      <div class="row">
        <div class="book-label large-2 medium-2 columns">Autor</div>
        <div class="book-value large-10 medium-10 columns">{{ book.author }}</div>
      </div>
      {% if book.illustrator %}
      <div class="row">
        <div class="book-label large-2 medium-2 columns">Ilustrador</div>
        <div class="book-value large-10 medium-10 columns">{{ book.illustrator }}</div>
      </div>
      {% endif %}
      <div class="row">
        <div class="book-label large-2 medium-2 columns">Editorial</div>
        <div class="book-value large-10 medium-10 columns">{{ book.editor }}</div>
      </div>
      {% if book.collection %}
      <div class="row">
        <div class="book-label large-2 medium-2 columns">Coleção</div>
        <div class="book-value large-10 medium-10 columns">{{ book.collection }}</div>
      </div>
      {% endif %}
      <div class="row">
        <div class="book-label large-2 medium-2 columns">Nível de leitor</div>
        <div class="book-value large-10 medium-10 columns">{{ book.reader_level }}</div>
      </div>
      <div class="row">
        <div class="book-label large-2 medium-2 columns">N° de páginas</div>
        <div class="book-value large-10 medium-10 columns">{{ book.nb_pages }}</div>
      </div>
      <div class="row">
        <div class="book-label large-2 medium-2 columns">Tema</div>
        <div class="book-value large-10 medium-10 columns">
          {% for keyword in book.keywords.all %}
            {{ keyword }}
          {% endfor %}
        </div>
      </div>

      <div class="row">
        <div class="large-12 medium-12 columns">
          <h3>Synopsis</h3>
          <div>{{ book.synopsis|linebreaks }}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
