{% extends "index.html" %}
{% load staticfiles %}

{% block page_title %}{{ book.title }} ({{ book.author }}{% if book.illustrator and book.illustrator != book.author %}, {{ book.illustrator }}{% endif %}) - Reviews{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 medium-12 columns">
      <h2>{{ book.title }}</h2>
    </div>
  </div>

  <div class="book-details row">
    <div class="large-4 medium-4 columns">
      <div class="cover">
        <img src="{{ book.cover.url }}" />
      </div>
      <div class="overall-rating rating-row row">
        <div class="rating-label large-2 medium-2 columns">Plin rating:</div>
        <div class="rating-value large-10 medium-10 columns">
          <div class="rating" data-rating="{{ book.overall_rating }}"
                              data-model="book"
                              data-pk="{{ book.pk }}"></div>
          <div class="votes">(<span class="rating-votes">{{ book.rating_votes }}</span> vote{{ book.rating_votes|pluralize }})</div>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <div class="user-rating rating-row row">
        <div class="rating-label large-2 medium-2 columns">Your rating:</div>
        <div class="rating-value large-10 medium-10 columns">
          <div class="rating" data-rating="{{ book_user_rating }}"
                              data-model="book"
                              data-pk="{{ book.pk }}"></div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="book-description large-8 medium-8 columns">
      <div class="book-description-row row">
        <div class="book-label large-3 medium-3 columns">Título</div>
        <div class="book-value large-9 medium-9 columns">{{ book.title }}</div>
      </div>
      {% if book.subtitle %}
      <div class="book-description-row row">
        <div class="book-label large-3 medium-3 columns">Subtítulo</div>
        <div class="book-value large-9 medium-9 columns">{{ book.title }}</div>
      </div>
      {% endif %}
      <div class="book-description-row row">
        <div class="book-label large-3 medium-3 columns">Idioma</div>
        <div class="book-value large-9 medium-9 columns">{{ book.get_language_display }}</div>
      </div>
      <div class="book-description-row row">
        <div class="book-label large-3 medium-3 columns">Autor</div>
        <div class="book-value large-9 medium-9 columns">{{ book.author }}</div>
      </div>
      {% if book.illustrator %}
      <div class="book-description-row row">
        <div class="book-label large-3 medium-3 columns">Ilustrador</div>
        <div class="book-value large-9 medium-9 columns">{{ book.illustrator }}</div>
      </div>
      {% endif %}
      <div class="book-description-row row">
        <div class="book-label large-3 medium-3 columns">Editorial</div>
        <div class="book-value large-9 medium-9 columns">{{ book.editor }}</div>
      </div>
      {% if book.collection.count %}
      <div class="book-description-row row">
        <div class="book-label large-3 medium-3 columns">Coleção</div>
        <div class="book-value large-9 medium-9 columns">
          {% for collection in book.collection.all %}
            {{ collection }}<br />
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="book-description-row row">
        <div class="book-label large-3 medium-3 columns">Nível de leitor</div>
        <div class="book-value large-9 medium-9 columns">{{ book.reader_level }}</div>
      </div>
      <div class="book-description-row row">
        <div class="book-label large-3 medium-3 columns">N° de páginas</div>
        <div class="book-value large-9 medium-9 columns">{{ book.nb_pages }}</div>
      </div>
      <div class="book-description-row row">
        <div class="book-label large-3 medium-3 columns">Tema</div>
        <div class="book-value large-9 medium-9 columns">
          {% for keyword in book.keywords.all %}
            {{ keyword }}
          {% endfor %}
        </div>
      </div>

      <div class="book-description-row row">
        <div class="large-12 medium-12 columns">
          <h3>Synopsis</h3>
          <div>{{ book.synopsis|linebreaks }}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block additional_js %}
<script src='{% static "js/vendor/jquery.cookie.js" %}'></script>
<script src='{% static "js/vendor/jquery.json.min.js" %}'></script>
<script src='{% static "js/vendor/jquery.raty.min.js" %}'></script>
<script type="text/javascript">
  $(function() {
    var overall_rating_dom = $('.book-details .overall-rating'),
        user_rating_dom = $('.book-details .user-rating'),
        raty_defaults = {
          starOff : 'star-off.png',
          starOn  : 'star-on.png',
          size    : 24
        };
    $.fn.raty.defaults.path = '{% static "img/rating" %}';

    $('.rating', overall_rating_dom).raty($.extend({}, raty_defaults, {
      readOnly: 'true',
      score   : $('.rating', overall_rating_dom).data('rating'),
    }));

    $('.rating', user_rating_dom).raty($.extend({}, raty_defaults, {
      score   : $('.rating', user_rating_dom).data('rating'),
      click   : function(rating, evt) {
        var model_name = $(this).data('model'),
            object_pk = $(this).data('pk');

        $('body').css({'cursor': 'wait'});
        $(evt.target).css({'cursor': 'wait'});
        $.ajax({
          type: 'POST',
          url: '/bookshelf/rate/' + model_name + '/' + object_pk + '/',
          data: $.toJSON({rating: rating}),
          dataType: 'json'
        }).done(function(response_data) {
          $('.rating', overall_rating_dom).raty('readOnly', 'false')
                                          .raty('score', response_data.overall_rating)
                                          .raty('readOnly', 'true');
          $('.rating-votes', overall_rating_dom).html(response_data.rating_votes);
          $('body').css({'cursor':'default'})
          $(evt.target).css({'cursor': 'pointer'});
        });
      }
    }));
  });
</script>
{% endblock %}
